<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/auth/main.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h1>Log in</h1>
        <form action="/auth/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <a href="/auth/signUp" class="login-link">Don't Have an Account? </a>
            <button>Log in</button>
        </form>

        <% if (error) { %>
            <p class="error">
                <%= error %>
            </p>
            <% } %>
    </div>
</body>

</html>