<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/navbar/main.css">
</head>
<body>

<% if (user) { %>
    <div class="container">
        <aside class="sidebar">
            <h2>Hi <%= user.username %></h2>
             <hr class="divider">
            <a href="/lists/new" class="create-link">Create List</a>
            <a href="/tasks/new"class="create-link">Create Task</a>
             <hr class="divider">
            <h3>Your Lists</h3>
            <ul class="lists">
                <% lists.forEach(list => { %>
                    <li><a href="/lists/<%= list._id %>"><%= list.name %></a></li>
                <% }) %>
            </ul>
            <a class="logout" href="/auth/logout">Logout</a>
        </aside>
    </div>
<% } %>

</body>
</html>
