<% if (user) { %>
 <aside class="sidebar">
  <div class="top-section">
    <h2><%= user.username %></h2>
    <hr class="divider" />
    <a href="/auth/homepage" class="create-link">Home</a>
    <a href="/lists/new" class="create-link">Create List</a>
    <a href="/tasks/new" class="create-link">Create Task</a>
    <hr class="divider" />
    <h3>Your Lists</h3>
    <ul class="lists">
      <% if (lists.length === 0) { %>
        <!-- <li><em>No lists.</em></li> -->
      <% } else { %>
        <% lists.forEach(list => { %>
          <li>
            <a href="/lists/<%= list._id %>"><%= list.name %></a>
            <form action="/lists/delete/<%= list._id %>?_method=DELETE" method="POST" class="delete-form">
                <button type="submit" class="bi bi-trash3"></button>
            </form>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </div>
  
  <div class="bottom-section">
    <a class="logout" href="/auth/logout">Logout</a>
  </div>
</aside>
<% } %>
