<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
    <h1>Add Task</h1>
    <form action="/tasks/new" method="post">
        <label for="content"> Add new task</label>
        <input type="text" name="content">

        <label for="dueAt"> Due At: </label>
        <input type="date" name="dueAt">

        <label for="completed">completed: </label>
        <input type="checkbox" name="completed">

        <label for="list">List</label>
        <select id="list" name="list" required>
            <option value="">-- Select a list --</option>
                <% allLists.forEach(list => { %>
             <option value="<%= list._id %>"><%= list.name %></option>
                <% }) %>
        </select>
        
         <button type="submit">Create task</button>
    </form>
</body>
</html>