<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/navbar/main.css" />
    <link rel="stylesheet" href="/styles/task/create.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css">
    <title>Add Task</title>
</head>
<body>
  <%- include("../partials/navbar") %>

  <div class="create-task-container">
    <h1>Create Task</h1>
    <form action="/tasks/new" method="post">
      <label for="content">Task Name: </label>
      <input type="text" name="content" id="content" required />

      <label for="dueAt">Due At:</label>
      <input type="date" name="dueAt" id="dueAt" required />

      <label for="list">Lists: </label>
      <select id="list" name="list" required>
        <option value="">Select a list</option>
        <% allLists.forEach(list => { %>
          <option value="<%= list._id %>"><%= list.name %></option>
        <% }) %>
      </select>

      <button type="submit">Add</button>
    </form>
  </div>
</body>
</html>