<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Lists</title>
</head>
<body>
    <h1>All Lists </h1>
    <% allLists.forEach(list => {%>
        <p>List Name: <%= list.name %></p>
   <% }) %>
</body>
</html>