<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New List</title>
</head>

<body>
    <%- include("../partials/navbar") %>
    <h1>Create List</h1>
    <form action="/lists/new" method="post">
        <label for="name">List Name:</label>
        <input type="text" id="name" name="name" required>

        <button type="submit">Create List</button>
    </form>

    <a href="/auth/welcome">Home Page</a>
</body>

</html>